.show-archive-notes-container{
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}

.show-archive-notes-note-container{
    width: 18%;
    max-height: 200px;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .show-archive-notes-note-container{
        width: 49%;
    }
}


@media screen and (max-width: 480px) {
    .show-archive-notes-note-container{
        width: 85%;
    }

    .show-archive-notes-container {
        padding: 0rem 0;
        justify-content: center;
        margin-left: 1.5rem;
    }
}