.show-trash-notes-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: .8rem;
}

.show-trash-notes-note-container{
    width: 20%;
    max-height: 200px;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .show-trash-notes-note-container{
        width: 49%;
    }
}


@media screen and (max-width: 480px) {
    .show-trash-notes-note-container{
        width: 85%;
    }

    .show-trash-notes-container {
        padding: 1rem 0;
    }
}